@keyframes garlandPlace {
  from {
    top: 100%;
    opacity: 0.2;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.placedGarland {
  animation-name: garlandPlace;
  animation-duration: 4s;
}

#bellButton:active {
  background-image: "url(../images/bell2.jpg)";
}

.hoverFlow {
  overflow: hidden;
}

.hoverflow:hover {
  overflow: auto;
}

#tabRow {
  width: 100%;
  height: 20%;
  min-height: 3rem;
  display: flex;
  flex-wrap: wrap;
}
#tabRow .tabButton {
  font-family: "Monotype Corsiva";
  font-size: 3.5em;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #FFFFF1;
  flex-grow: 1;
}
#tabRow .tabButton:hover {
  color: #D1BB68;
  font-weight: bold;
}

.activeAlert {
  height: 5vh !important;
}

#footer {
  background-color: black;
  color: #D1BB68;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

body {
  background-image: url("../images/5dots.png");
  font-family: "Verdana";
}
body button:hover {
  cursor: pointer;
}

#templeRow {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#templeRow #temple {
  width: 100vmin;
  height: 100vmin;
  position: relative;
  border: 0.4vw inset #D1BB68;
  border-radius: 1%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#templeRow #temple #templeComplete {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: opacity 1.5s;
}

#shrineRow {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#shrineRow #shrine {
  width: 100vmin;
  height: 100vmin;
  position: relative;
  border: 0.4vw inset #D1BB68;
  border-radius: 1%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#shrineRow #shrine #withinCanvasRow {
  display: flex;
  margin-left: 10%;
  width: 80%;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
#shrineRow #shrine #withinCanvasRow .shrineButton {
  height: 15vmin;
  width: 15vmin;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  background-color: grey;
}
#shrineRow #shrine #shrineGarland {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 40%;
  background-repeat: no-repeat;
}
#shrineRow #shrine .shrineDiya {
  position: absolute;
  height: 15vmin;
  width: 18vmin;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 15.5vmin;
}
#shrineRow #shrine .shrineDiya.leftDiya {
  left: -3%;
}
#shrineRow #shrine .shrineDiya.rightDiya {
  right: -3%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#shrineButtonRow {
  display: flex;
  margin-left: 10%;
  margin-bottom: 25vmin;
  width: 80%;
  justify-content: space-around;
}
#shrineButtonRow #congratsMessage {
  text-align: center;
  font-family: "Monotype Corsiva";
  color: white;
  font-size: 4em;
}
#shrineButtonRow #buildButton {
  font-size: 4em;
  font-family: "Monotype Corsiva";
  color: gold;
  background-color: black;
}

.invisible {
  opacity: 0;
}

/*# sourceMappingURL=sample.css.map */
