


//Color Scheme
$darkBack:#222831;
$greyBack:#393e46;
$flairColor:#d65a31;
$lightBack:#eeeeee;

$valiantBlue:#2A6374;
$radiantWhite:#FFFFF1;
$darkHorse:#090F1D;
$goldenMoment:#D1BB68;
$championSteel:#8B8E85;

//Fonts in Use
$storeFont:"Monotype Corsiva";
$talkFont:"Lucida Handwriting";
$baseFont:"Verdana";


@keyframes garlandPlace {
  from {top: 100%;
  	opacity:.2;}
  to {top: 0; opacity:1;}
}
.placedGarland{

 animation-name: garlandPlace;
 animation-duration: 4s;
}


#bellButton:active{
  background-image:"url(../images/bellButton)";
}

.hoverFlow{
  overflow:hidden;
}

.hoverflow:hover{
  overflow:auto;
}



#tabRow{
  width:100%;
  height:20%;
  min-height:3rem;
  display:flex;
  flex-wrap:wrap;
  //border:2px solid black;
  // position:absolute;
  // bottom:0;
  .tabButton{
    font-family:$storeFont;
    font-size:3.5em;
    // background-color:$valiantBlue;
    // border:none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:$radiantWhite;
    flex-grow:1;
  }

  .tabButton:hover{
    color:$goldenMoment;
    font-weight:bold;
  }

}

.activeAlert{
  height:5vh !important;
}



#footer{
  background-color:black;
  color:$goldenMoment;
  position:relative;
  bottom:0;
  left:0;
  width:100%;
}

body{
  background-image:url("../images/5dots.png");
  font-family:$baseFont;
  button:hover{
    cursor:pointer;
  }
}

#templeRow{
  display:flex;
  justify-content:center;
  margin-top:5%;
  margin-bottom:5%;
  #temple{


    width:100vmin;
    height:100vmin;
    position:relative;
    border: .4vw inset #D1BB68;
    border-radius:1%;
    background-size:100% 100%;
    background-repeat: no-repeat;

    #templeComplete{
      position:absolute;
      height:100%;
      width:100%;
      background-size:100% 100%;
      background-repeat: no-repeat;
      transition:opacity 1.5s;
    }

  }
}
#shrineRow{
  display:flex;
  justify-content:center;
  margin-top:5%;
  margin-bottom:5%;
  #shrine{


    width:100vmin;
    height:100vmin;
    position:relative;
    border: .4vw inset #D1BB68;
    border-radius:1%;
    background-size:100% 100%;
    background-repeat: no-repeat;

    #withinCanvasRow{
      display:flex;
      margin-left:10%;

      width:80%;
      justify-content:space-around;
      position:absolute;
      bottom:0;
      .shrineButton{

        height:15vmin;
        width: 15vmin;
        background-size:100% 100%;
        background-repeat: no-repeat;
        border: 5px solid black;
        border-radius:50%;
        cursor:pointer;
        background-color:grey;

        &:hover{
          box-shadow:5px 10px black;
        }
        &:active{
          border: 8px solid white;
          box-shadow:none;
        }
      }
    }


    #shrineGarland{
      position:absolute;
      height:100%;
      width:100%;
      background-size:100% 40%;
      background-repeat: no-repeat;

    }
    .shrineDiya{
      position:absolute;
      height:15vmin;
      width:18vmin;
      background-size:100% 100%;
      background-repeat: no-repeat;
      Top: -3%;


      &.leftDiya{

        left: -3%;
      }

      &.rightDiya{
        right: -3%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}

#shrineButtonRow{
  display:flex;
  margin-left:10%;
  margin-bottom:25vmin;
  width:80%;
  justify-content:space-around;
  #congratsMessage{
    text-align: center;
    font-family:$storeFont;
    color:white;
    font-size:4em;
  }
  #buildButton{
    font-size:4em;
    font-family: $storeFont;
    color:gold;
    background-color:black;
  }


}



.invisible{
  opacity:0;
}
